#navbar {
  display: flex;
  justify-content: space-around;
  font-size: 28px;
  background-color: rgb(61, 61, 158);
  padding: 10px;
}

a {
  text-decoration: none;
  color: white;
}
 
/* frontend */

#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 20px;
  }
  p + img {
    height: 50px;
  }